.table thead .glyphicon-plus {
	color: green;
}

.table td .glyphicon-remove {
	color: #AA0000;
}

.container-fluid {
	margin-top: 70px;
}

span.glyph-placeholder {
	display: inline-block;
	width: 25px;
}

tbody td:first-of-type {
	width: 20%;
}

.box-center {
	width: 35em;
	margin: 20px auto;
}

.box-center .panel-title {
	font-size: 220%;
}

.box-center .panel-body {
	margin-top: 2em;
}

.box-center .panel-footer {
	margin-top: 5em;
	padding-bottom: 2em;
}