{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}Social Bank{% endblock %}</title>
		{% block meta_tags %}
	        <meta charset="UTF-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	{% endblock %}
    	{% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{% static "social_finance/css/libs/bootstrap-3.3.7/css/bootstrap.min.css" %}">
        	<link rel="stylesheet" type="text/css" href="{% static "social_finance/css/libs/font-awesome-4.6.3/css/font-awesome.min.css" %}">
        	<link rel="stylesheet" type="text/css" href="{% static "social_finance/css/style.css" %}">
    	{% endblock %}
    	{% block javascript %}
    		<script type="text/javascript">
    		</script>
    	{% endblock %}
	</head>
	<body>
		{% include 'social_finance/navigation.html' %}

		<div class="container-fluid">
				{% block content %}
				{% endblock %}
		</div>
		
		<script type="text/javascript" src="{% static "social_finance/js/libs/jquery-3.1.0.min.js"%}"></script>
		<script type="text/javascript" src="{% static "social_finance/js/libs/bootstrap-3.3.7.min.js" %}"></script>
		{% block js_defer %}
		{% endblock %}
	</body>
</html>