{% extends 'social_finance/base.html' %}

{% block title %}
	{{ block.super }} - Accounts
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Accounts</h1>	
			{% for user in users %}
				<div class="panel-group">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#accountPanel{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
				      </h4>
				    </div>
				  </div>
				</div>
			{% endfor %}
	</div>
{% endblock %}