{% extends 'social_finance/base.html' %}

{% block content %}

    <h1>Delete User {{object.id}}</h1>
    <h4>{{ object.firstname }} {{ object.lastname }}</h4>

    <p style="margin: 30px 0 30px 0" class="alert alert-warning"><strong>Are you sure you want to delete the user? *</strong></p>

	<form action="" method="post">
		{% csrf_token %}
	    <input type="submit" class="btn btn-danger" value="Delete User">
	    <a class="btn btn-default" href="{% url 'home' %}">Keep User</a>
	</form>
	<p style="margin: 30px 0 30px 0">* Pleaso note: This will also delete all bank-accounts belonging to the user!</p>
{% endblock %}